{% extends 'base.html' %}

{% block content %}
<div class="container">
   <p>
    <h1>KML Hospital</h1>
    KML Hospital is one of the best private hospitals in Andhra Pradesh. Situated at Vijayawada, it provides excellent services in affordable rates to one and all. The hospital is equipped with cutting edge technology to cater to the various diagnostics, medical and surgical needs of the patients. It also houses a team of highly experienced doctors who have worked around the world, dedicated to provide the best health care services in Andhra Pradesh.
   </p>
</div>
{% endblock %}